.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12% ;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

@media screen and (max-width: 1024px) {
.container.contact__container{
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 75%;
}

  }

  @media screen and (max-width: 600px) {
    .container.contact__container{
        width: 90%;
    }
    
    
      }